<header class="main-header d-flex justify-content-between align-items-center p-3">
  <div class="d-flex align-items-center">
    <img src="\images\vecindapp.png" alt="Logo" class="logo me-3" />
    <h1 class="h4 text-white mb-0">¡Bienvenido a VecindApp!</h1>
  </div>
  <nav class="d-flex align-items-center">
    <a href="#" class="nav-link d-flex align-items-center">
      <i class="fas fa-home me-2"></i> Inicio
    </a>
    <a href="#" class="nav-link d-flex align-items-center">
      <i class="fas fa-bell me-2"></i> Notificaciones
    </a>
    <a href="#" class="nav-link d-flex align-items-center">
      <i class="fas fa-envelope me-2"></i> Mensajes
    </a>
    <a href="#" class="nav-link d-flex align-items-center">
      <i class="fas fa-heart me-2"></i> Favoritos
    </a>
    <a href="#" class="nav-link d-flex align-items-center">
      <i class="fas fa-calendar-alt me-2"></i> Agenda
    </a>
    <a href="#" class="nav-link d-flex align-items-center">
      <i class="fas fa-tools me-2"></i> Servicios
    </a>

    
    <div class="logout-container d-flex align-items-center ms-3">
      <button class="btn btn-logout" (click)="logout()">
        Cerrar Sesión
      </button>
    </div>
  </nav>
</header>
<div class="chat-container">
  <!-- Lista de mensajes -->
  <div class="messages">
    <div *ngFor="let message of messages" class="message" [ngClass]="getMessageAlignment()">
      <span>{{ message.contenido }}</span>
    </div>
  </div>

  <!-- Formulario para enviar un mensaje -->
  <div class="message-input-container">
    <form [formGroup]="form" (ngSubmit)="sendMessage()" class="message-form">
      <input 
        class="message-input" 
        formControlName="message" 
        placeholder="Escribe tu mensaje..." 
      />
      <button 
        class="send-button" 
        type="submit" 
        [disabled]="form.get('message')?.invalid">
        Enviar
      </button>
    </form>
  </div>

  <!-- Botón para abrir el popup (solo visible para el cliente) -->
  <button *ngIf="getRolId() === '3'" class="price-button" (click)="openPricePopup()">
    Proponer precio
  </button>

  <!-- Popup para ingresar el precio -->
  <div *ngIf="isPopupOpen" class="popup-overlay">
    <div class="popup-content">
      <h3>Proponer un precio</h3>
      <input 
        type="number" 
        class="price-input" 
        [(ngModel)]="proposedPrice" 
        placeholder="Introduce el precio" 
      />
      <div class="popup-buttons">
        <button class="popup-button submit" (click)="submitPrice()">Enviar</button>
        <button class="popup-button cancel" (click)="closePopup()">Cerrar</button>
      </div>
    </div>
  </div>
</div>
