
    <!-- Encabezado -->
    <header class="main-header d-flex justify-content-between align-items-center p-3">
        <div class="d-flex align-items-center">
          <img src="\images\vecindapp.png" alt="Logo" class="logo me-3" />
          <h1 class="h4 text-white mb-0">¿Listo para trabajar?☺</h1>
        </div>
        <nav class="d-flex align-items-center">
          <a href="#" class="nav-link d-flex align-items-center">
            <i class="fas fa-home me-2"></i> Inicio
          </a>
          <a href="#" class="nav-link d-flex align-items-center">
            <i class="fas fa-bell me-2"></i> Notificaciones
          </a>
          <a href="#" class="nav-link d-flex align-items-center">
            <i class="fas fa-envelope me-2"></i> Mensajes
          </a>
          <a [routerLink]="['/ingreso-trabajador']"class="nav-link d-flex align-items-center">
            <i class="fas fa-calendar-alt me-2"></i> Agenda
          </a>
          <a href="#" class="nav-link d-flex align-items-center">
            <i class="fas fa-tools me-2"></i> Servicios
          </a>
      
          <div class="logout-container d-flex align-items-center ms-3">
            <button class="btn btn-logout" (click)="logout()">
              Cerrar Sesión
            </button>
          </div>
        </nav>
      </header>
  

      <div class="container">
        <div class="agenda-header text-center">
          <h1>Mi Agenda</h1>
        </div>
      
        <div class="row">
          <!-- Calendario -->
          <div class="col-md-6">
            <div class="calendar">
              <h2>Diciembre 2024</h2>
              <table class="table calendar-table">
                <thead>
                  <tr>
                    <th>L</th>
                    <th>M</th>
                    <th>M</th>
                    <th>J</th>
                    <th>V</th>
                    <th>S</th>
                    <th>D</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>1</td>
                    <td>2</td>
                    <td>3</td>
                    <td>4</td>
                    <td class="selected1">5</td>
                    <td>6</td>
                    <td>7</td>
                  </tr>
                  <tr>
                    <td>8</td>
                    <td>9</td>
                    <td class="selected">30</td>
                    <td>10</td>
                    <td class="selected">11</td>
                    <td>12</td>
                    <td>13</td>
                  </tr>
                  <tr>
                    <td class="selected2">14</td>
                    <td>15</td>
                    <td>16</td>
                    <td clas="selected1">17</td>
                    <td class="selected">18</td>
                    <td>19</td>
                    <td>20</td>
                  </tr>
                  <tr>
                    <td>21</td>
                    <td class="selected2">22</td>
                    <td>23</td>
                    <td clas="selected">24</td>
                    <td class="selected1">25</td>
                    <td>26</td>
                    <td>27</td>
                  </tr>
                  <tr>
                    <td>28</td>
                    <td class="selected">29</td>
                    <td>30</td>
                    <td clas="selected2">31</td>
              
                  </tr>
              
                </tbody>
              </table>
            </div>
          </div>
      
          <!-- Detalles de la Agenda -->
          <div class="col-md-6">
            <div class="agenda-details">
              <div class="event" *ngFor="let evento of eventos">
                <div class="event-title">{{ evento.titulo }}</div>
                <div class="event-time">{{ evento.hora }}</div>
                <div class="event-location">{{ evento.lugar }}</div>
                
                <div class="botones">
                <button class="botonverde">Visita Realizada</button>
                <button class="botonrojo">Visita Cancelada</button>
                <button class="botonrosado">Visita Pendiente</button>
              </div>
              </div>
            </div>
          </div>
        </div>
      </div>