.servicios-container {
    text-align: center;
    padding: 20px;
    font-family: 'Poppins', sans-serif;
  }
  
  h2 {
    font-size: 2rem;
    margin-bottom: 20px;
    color: #333;
  }
  
  .servicios-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
  }
  
  .servicio-card {
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 15px;
    text-align: center;
    transition: transform 0.3s;
  }
  
  .servicio-card:hover {
    transform: scale(1.05);
  }
  
  .servicio-card img {
    width: 100%;
    border-radius: 8px 8px 0 0;
  }
  
  .servicio-card h3 {
    font-size: 1.5rem;
    margin: 10px 0;
    color: #555;
  }
  
  .servicio-card p {
    font-size: 1rem;
    color: #666;
    margin-bottom: 15px;
  }
  
  .servicio-card button {
    background: #007bff;
    color: #fff;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s;
  }
  
  .servicio-card button:hover {
    background: #0056b3;
  }
  /* Introducción */
.introduccion {
    text-align: center;
    margin-bottom: 30px;
  }
  
  .introduccion h1 {
    font-size: 2.5rem;
    color: #007bff;
    margin-bottom: 10px;
  }
  
  .introduccion p {
    font-size: 1.2rem;
    color: #555;
    line-height: 1.6;
  }
  
  /* Testimonios */
  .testimonios-container {
    background-color: #e9ecef; /* Fondo gris claro */
    padding: 40px;
}

.testimonios-grid {
    display: flex;
    flex-direction: column;
    gap: 15px; /* Espaciado entre testimonios */
}

.testimonio-card {
    background-color: #ffffff; /* Fondo blanco para testimonios */
    border-left: 5px solid #007bff; /* Línea lateral azul */
    padding: 15px;
} 