<header>
  <img src="\images\vecindapp.png" alt="Logo">
</header>
<div class="container">
  <div class="form-container">
    <a href="#" class="volver">Volver</a>
    <h1>Iniciar sesión</h1>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">

      <div class="mb-3">
        <label for="email" class="form-label">Correo Electrónico</label>
        <input type="email" id="email" class="form-control" formControlName="email" placeholder="Ingresa tu correo" />

        <div *ngIf="loginForm.get('email')?.invalid && loginForm.get('email')?.touched" class="text-danger">
          <small *ngIf="loginForm.get('email')?.errors?.['required']">El correo es obligatorio.</small>
          <small *ngIf="loginForm.get('email')?.errors?.['email']">Formato de correo inválido.</small>
        </div>
      </div>

      <div class="mb-3">
        <label for="password" class="form-label">Contraseña</label>
        <input type="password" id="password" class="form-control" formControlName="password" placeholder="Contraseña" />
        <div *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched" class="text-danger">
          <small *ngIf="loginForm.get('password')?.errors?.['required']">La contraseña es obligatoria.</small>
          <small *ngIf="loginForm.get('password')?.errors?.['minlength']"> Debe tener al menos 8 caracteres.</small>
          <small *ngIf="loginForm.get('password')?.errors?.['maxlength']">
            No puede exceder los 20 caracteres.
          </small>
        </div>
      </div>

      <button type="submit"  class="btn btn-primary w-100" [disabled]="loginForm.invalid">Iniciar Sesión</button>
      <div class="options">
        <br><a routerLink="#">¿Olvidó su contraseña? Recupérela aquí</a>
        <br><a routerLink="/registro">¿Sin cuenta? Créala ahora mismo</a>
      </div>
    </form>
    <p>o inicia con</p>
    <div class="button-container">
      <button (click)="loginWithGoogle()"     class="gmail-button">
        <img src="images/gmail.webp" alt="Gmail Icon" class="gmail-icon"> Inicia sesión con Gmail
      </button>
    </div>
    <br><a routerLink="/iniciotrabajador">Soy Trabajador</a><br>
  </div>
  <div class="image-container">
    <img src="\images\imagen2.png" alt="Login">
  </div>
</div>

<div class="decorations">
  <div class="blob blob-2"></div>
  <div class="blob blob-3"></div>
  <div class="blob blob-4"></div>
  <div class="blob blob-5"></div>
  <div class="blob blob-6"></div>
  <div class="blob blob-7"></div>
  <div class="blob blob-8"></div>
  <div class="blob blob-9"></div>
  <div class="blob blob-10"></div>
</div>